# the main application
Plugins>BigStitcher, "BigStitcher", spim.fiji.plugin.Stitching_Explorer
# batch PlugIns
Plugins>BigStitcher>Batch Processing, "Define dataset ...", spim.fiji.plugin.Define_Multi_View_Dataset
Plugins>BigStitcher>Batch Processing, "Calculate pairwise shifts ...", spim.fiji.plugin.Calculate_Pairwise_Shifts
Plugins>BigStitcher>Batch Processing, "Filter pairwise shifts ...", spim.fiji.plugin.Filter_Pairwise_Shifts
Plugins>BigStitcher>Batch Processing, "Optimize globally and apply shifts ...", spim.fiji.plugin.Global_Optimization_Stitching
Plugins>BigStitcher>Batch Processing, "Fuse dataset ...", spim.fiji.plugin.Image_Fusion
# tools
Plugins>BigStitcher>Batch Processing>Tools, "Select Illuminations", spim.fiji.plugin.Illumination_Selection
Plugins>BigStitcher>Batch Processing>Tools, "Detect Interest Points for Registration", spim.fiji.plugin.Interest_Point_Detection
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Apply Transformations", spim.fiji.plugin.Apply_Transformation
Plugins>BigStitcher>Batch Processing>Tools, "Define Bounding Box", spim.fiji.plugin.Define_Bounding_Box
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Duplicate Transformations", spim.fiji.plugin.Duplicate_Transformation
Plugins>BigStitcher>Batch Processing>Tools, "Display View", spim.fiji.plugin.Display_View
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Specify Calibration", spim.fiji.plugin.Specify_Calibration
# resave
Plugins>BigStitcher>Batch Processing>Resave, "As HDF5", spim.fiji.plugin.resave.Resave_HDF5
Plugins>BigStitcher>Batch Processing>Resave, "As TIFF", spim.fiji.plugin.resave.Resave_TIFF