###
# #%L
# Multiview stitching of large datasets.
# %%
# Copyright (C) 2016 - 2023 Big Stitcher developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
# the main application
# NB: Switched to SciJava Command -- see BigStitcher class.
#Plugins>BigStitcher, "BigStitcher", net.preibisch.stitcher.plugin.Stitching_Explorer
# batch PlugIns
Plugins>BigStitcher>Batch Processing, "Define dataset ...", net.preibisch.mvrecon.fiji.plugin.Define_Multi_View_Dataset
Plugins>BigStitcher>Batch Processing, "Calculate pairwise shifts ...", net.preibisch.stitcher.plugin.Calculate_Pairwise_Shifts
Plugins>BigStitcher>Batch Processing, "Filter pairwise shifts ...", net.preibisch.stitcher.plugin.Filter_Pairwise_Shifts
Plugins>BigStitcher>Batch Processing, "Optimize globally and apply shifts ...", net.preibisch.stitcher.plugin.Global_Optimization_Stitching
Plugins>BigStitcher>Batch Processing, "ICP Refinement ...", net.preibisch.stitcher.plugin.ICP_Refine
Plugins>BigStitcher>Batch Processing, "Fuse dataset ...", net.preibisch.mvrecon.fiji.plugin.Image_Fusion
# tools
Plugins>BigStitcher>Batch Processing>Tools, "Select Illuminations", net.preibisch.stitcher.plugin.Illumination_Selection
Plugins>BigStitcher>Batch Processing>Tools, "Detect Interest Points for Pairwise Registration", net.preibisch.mvrecon.fiji.plugin.Interest_Point_Detection
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Apply Transformations", net.preibisch.mvrecon.fiji.plugin.Apply_Transformation
Plugins>BigStitcher>Batch Processing>Tools, "Define Bounding Box for Fusion", net.preibisch.mvrecon.fiji.plugin.Define_Bounding_Box
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Duplicate Transformations", net.preibisch.mvrecon.fiji.plugin.Duplicate_Transformation
Plugins>BigStitcher>Batch Processing>Tools, "Display View ...", net.preibisch.mvrecon.fiji.plugin.Display_View
#Plugins>Multiview Reconstruction>Batch Processing>Tools, "Specify Calibration", net.preibisch.mvrecon.fiji.plugin.Specify_Calibration
Plugins>BigStitcher>Batch Processing>Tools, "Load TileConfiguration from File...", net.preibisch.stitcher.plugin.Load_Tile_Configuration
# resave
Plugins>BigStitcher>Batch Processing>Resave, "As HDF5 ...", net.preibisch.mvrecon.fiji.plugin.resave.Resave_HDF5
Plugins>BigStitcher>Batch Processing>Resave, "As N5 ...", net.preibisch.mvrecon.fiji.plugin.resave.Resave_N5
Plugins>BigStitcher>Batch Processing>Resave, "As TIFF ...", net.preibisch.mvrecon.fiji.plugin.resave.Resave_TIFF
#global tools
Plugins>BigStitcher>Tools, "Split Images", net.preibisch.mvrecon.fiji.plugin.Split_Views

